<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0l1E_Bg2HHUx9K1fFCGMq9dvkIvTZo08</string>
	<key>GCM_SENDER_ID</key>
	<string>101268382978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inclass17</string>
	<key>PROJECT_ID</key>
	<string>fcm-flutter-quotes</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-flutter-quotes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101268382978:ios:671f6c6960a58a2487ce1b</string>
</dict>
</plist>